asgiref==3.8.1
boto3==1.28.56
botocore==1.31.56
certifi==2025.4.26
channels==4.0.0
charset-normalizer==3.4.2
crispy-bootstrap5==2025.4
diff-match-patch==20241021
distlib==0.4.0
dj-database-url==2.1.0
Django==5.2.1
django-anymail==13.0
django-auto-logout==0.5.1
django-ckeditor-5==0.2.18
django-crispy-forms==2.4
django-import-export==4.3.7
django-jazzmin==3.0.1
django-mathfilters==1.0.0
django-recaptcha==4.1.0
django-storages==1.14.2
django-taggit==4.0.0
djangorestframework==3.16.1
environs==9.5.0
filelock==3.20.1
gunicorn==21.2.0
idna==3.10
jmespath==1.0.1
marshmallow==4.0.0
mysqlclient==2.2.7
packaging==25.0
pillow==11.2.1
pipenv==2026.0.3
platformdirs==4.5.1
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
s3transfer==0.7.0
setuptools==80.9.0
shortuuid==1.0.11
six==1.17.0
sqlparse==0.5.3
tablib==3.8.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==1.26.20
virtualenv==20.35.4
wheel==0.45.1
whitenoise==6.5.0
